<div class="home">
  <h1>Zach's Webpage</h1>
</div>
<hr />

<div class= "body">
<h2>List of Users: </h2>
  <% @users.each do |user| %>
    <div>
      <h2><%= user.userName %></h2>
    </div>
  <% end %>
</div>
